<th>
  <div class="flex gap-1 items-center sort-column">
    <span><%= title %></span>
    <span>
      <%== svg_icon 'sort_up', class: 'w-4 h-4 up' %>
      <%== svg_icon 'sort_down', class: 'w-4 h-4 down' %>
    </span>
  </div>
</th>
