<div class="p-2 grid gap-6">
  <%= render Report::SearchFormComponent.new %>

  <div class="grid gap-2">
    <span class="font-bold">Biểu đồ doanh thu</span>
    <%= render Report::BarChartComponent.new %>
  </div>

  <div class="grid gap-2">
    <span class="font-bold">Danh sách đơn hàng</span>
    <%= render Report::BillsTableComponent.new(bills: @bills, pagy: @pagy) %>
  </div>
</div>