<div class="px-4 py-2 font-bold flex gap-1">
  <span class="text-gray-600"><%= @customer.name %></span> TUỲ CHỌN
</div>
<hr class="border-gray-300" />
<%= render Admin::Settings::TableComponent.new(settings: @customer.settings, customer: @customer) %>
